html {
    background-color: #d8e0fa;
  }
  
  body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 110%;
  }
  h4 {
    font-weight:lighter;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #03025a;
  }
  .container header h1 {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 200%;
    text-transform: uppercase;
    color: #ffffff;
  }
  
  .container header h1 {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 200%;
    text-transform: uppercase;
    color: #ffffff;
  }
  
  img {
    max-width: 100%;
    padding-bottom: 15px;
  }
  
  
  .container {
    width: 1300px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    box-sizing: border-box;
  
  }
  .site-nav ul.dropdown a:hover {
    background-color: #a7b1cf;
   }
   
   
   .site-nav a:hover {
   background-color: #a7b1cf;
   }
   .site-nav ul.dropdown a {
    display: block;
    text-decoration: none;
    background-color:#5e89c2;
    color:#ffffff;
    padding: 10px 15px;
    border: 1px solid #ffffff;
    border-bottom: none;
   }
  
  header {
    padding-left: 40px;
    padding-top: 40px;
    color: #ffffff;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold  ;
    background-image: linear-gradient(to bottom,#1b3f8ba9,#1b3f8ba9);
    background-image: url(../../pics/fondo9.jpg);
    background-position: right center;
    background-color: #5e89c2;
    background-position: right;
  }
  .site-nav a {
    font-size: 82%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: lighter;
    display: block;
    text-decoration: none;
    color:#e4e6eb;
    background-color: #5e89c2;
    padding: 10px 15px;
    border: 1px solid #ebeef1;
    border-bottom: none;
  }
  
  .content-area h1{
    color: #05410ae1;
    padding-top: 10px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: lighter;
      font-size: 170%;
  }
  .linea {
    width: 100%;
    background-color:#aebac9;
    height: 1.5px;
    border: 0 none;
    
  }
  h3 {
    padding-top: 15px;
    font-size: 120%;
   
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:#263152;
  }
 
  header h1 {
    margin: 0;
    font-weight: normal;
    font-size: 165%;
  }
  
  .site-nav ul {
    margin: 0;
    padding: 0;
  }
  
  
  header p {
    margin: 0;
  }
  
  .site-nav li {
    list-style: none;
    float: left;
    margin-right: 5px;
  
  }
  
  .site-nav ul {
   margin: 0;
   padding: 0;
  }
  .site-nav {
   margin-top: 20px;
  
  }
  
  .site-nav ul.dropdown li {
   font-size: 85%;
   list-style: none;
   float: none;
   width:150px;
  }
  
  ol li{
    padding-bottom: 10px;
  }
  
  ul li ul.dropdown li {
    display:block;
  }
  img {
    padding-bottom: 15px;
  }
  
  ul li ul.dropdown {
    width: 100%;
    position:absolute;
    z-index: 999;
    display:none
  }
  
  
  ul li:hover ul.dropdown {
    display:block;
  }
    img {
      max-width: 100%;
      height: auto;
      width:110%;
    }
    
    .container {
      width: 1300px;
      margin-left: auto;
      margin-right: auto;
      background-color: #fafafa;
      box-sizing: border-box;
    }
    
    header p {
      margin: 0;
    }
    
    .content-area {
      border-top: 3px solid hsl(78, 23%, 89%);
      border-bottom: 3px solid #e5e9dc;
      padding-left: 40px;
      padding-right: 40px;
    }
    
    .main-area {
      line-height: 1.5;
      width: 66%;
      float: left;
      padding-right: 40px;
      box-sizing: border-box;
    }
    
    .sidebar {
      width: 34%;
      float: left;
      background-color: #fdfdfd;
      padding: 20px 40px;
      box-sizing: border-box;
      font-size: 85%;
    }
    
    footer {
      text-align: center;
      font-size: 85%;
      color: #03025a;
      padding-bottom: 20px;
      padding-top: 20px;
    }
    .group:before,
    .group:after {
      content: "";
      display: table;
    }
    
    .group:after {
      clear: both;
    }
    
    .group {
      zoom: 1;
    }
  
  .group {
    zoom: 1;
  }